Plugins>ImageAnalysisTools, "Run method", edu.stanford.cfuller.imageanalysistools.frontend.ImageAnalysisToolsPlugin_

Plugins>ImageAnalysisTools, "Process images in batch", edu.stanford.cfuller.analysistoolsinterface.BatchAnalysisPlugin_

Plugins>ImageAnalysisTools, "Set up parameters", edu.stanford.cfuller.analysistoolsinterface.ParameterSetupPlugin_

Plugins>ImageAnalysisTools, "Generate maximum intensity projections in batch", edu.stanford.cfuller.analysistoolsinterface.MaximumIntensityProjectionPlugin_

Plugins>ImageAnalysisTools, "Deschmutzerize", edu.stanford.cfuller.analysistoolsinterface.DeschmutzerizerPlugin_